@{
    ViewBag.Title = "ExternalTestResultRetrieval";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>External Test Result Retrieval</h2>

<p1>@ViewBag.result</p1>

@Html.ActionLink("Go back", "InterventionResults");