@model IEnumerable<Professional_Experience.Models.MyTrialViewModel>

    @{
        ViewBag.Title = "My Trials";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>My Trials</h2>
    <div style="max-width:400px">
    @foreach (var trial in Model)
    {
        <button class="btn btn-primary btn-lg btn-block" onclick="location.href = '/Participant/InterventionResults/?trialId=@trial.TrialId';">@trial.TrialName</button><br />
        <b>Description:</b><br />
        <p>@trial.TrialDescription</p>
        <hr />
    }

    </div>